body {
    padding: 0;
	margin: 0;
	font-family: 'Fjalla One',sans-serif;
}

img {
   border: none;
}

#container {
    margin: 0 auto;
    width: 990px;
	margin-top: 30px;
}

#search {
    float: right;
	margin-top: 75px;
}

#search h6 {
    text-transform: uppercase;
	color: #484847;
    font-size: 12px;
}


.clear {
    clear: both;
}


#cart {
    border: 1px solid #DCDBDB;
    border-radius: 9px 0 0;
    float: left;
    margin: 0 -11px;
    padding: 10px 57px 10px 0;
	background-color: #f8f8f8;
} 

#cart h6 {
    margin: 0;
	float: right;
	padding-left: 10px;
}

#cart img {
    float: left;
	padding-left: 15px;
}

#cart span {
    color: #629803;
    font-size: 13px;
    font-weight: bold;
    line-height: 21px;
	text-transform: none;
}

#arrow {
    border: 1px solid #DCDBDB;
    float: left;
    margin-left: 10px;
    padding: 11px;
}

#money {
    border: 1px solid #DCDBDB;
    border-radius: 0 10px 0 0;
    float: left;
    margin-left: -1px;
    padding: 12px 14px 13px 15px;
	display: block;
	background-color: #f8f8f8;
}

#money h6 {
    margin: 0;
	float: left;
}

#money a {
    float: left;
	margin-left: 15px;
	font-size: 13px;
	text-decoration: none;
	color: #545453;;
}

#money a:hover {
    color: #629803;
	cursor: pointer;
}

div#arrow:hover {
    cursor: pointer;
	display: block;
}

div#cart:hover {
    cursor: pointer;
	display: block;
}

#top-menu ul {
	padding: 0;
	margin: 0;
	display: inline-block;
}

#top-menu {
    display: inline-block;
    float: left;
    margin-top: -1px;
    padding-bottom: 2px;
}

#top-menu div{
    border: 1px solid #DCDBDB;
	display: inline-block;
	border-radius: 9px 0 0 9px;
}

#top-menu ul li {
    list-style: none;
	float: left;
	padding-right: 15px;
}

#top-menu ul li a {
    color: #629803;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 42px;
	font-weight: bold;
}

#top-menu ul li a:hover {
    color: #555554;
}

#search-top-mid {
    float: left;
    margin-left: -1px;
    margin-top: -1px;
}

#search-top-mid div {
    display: inline-block;
}

#search-top-mid input {
    border: none;
	padding:15px 14px;
	color: #B6B5B5;
	background-color: #f8f8f8;
}

#search-top-mid div {
    border: 1px solid #DCDBDB;
}

#search-top-right {
    border-bottom: 1px solid #DCDBDB;
    border-radius: 0 0 10px;
    border-right: 1px solid #DCDBDB;
    border-top: 1px solid #DCDBDB;
    float: left;
    line-height: 14px;
    margin-top: -1px;
}

#top-menu li.last {
    padding-right: 174px;
}

#search-top-right input {
    padding: 13px 14px 13px 10px;
}

.first {
    padding-left: 15px;
}

#top-menu ul li a.active {
    color: #484847;
}

#top-navigation div {
    background-color: #7ba804;
	border-radius: 12px;
}

#top-navigation ul{
    margin: 0;
	padding: 0;
	margin-top: 20px;
}

#top-navigation ul li {
    list-style: none;
	float: left;
	padding-left: 25px;
	text-transform: uppercase;
	font-weight: bold;
	border-right: 1px solid #fff;
}

#top-navigation ul li a {
    display: block;
	text-decoration: none;
	color: #fff;
	background-color: #7ba804;
	margin-left: -25px;
}

#top-navigation ul li a span {
	display: block;
	padding: 13px 20px;
	text-align: center;
}

#top-navigation ul li a:hover {
    background-color: #4f9002;
}

.first1 a {
    background-color:  #4f9002;
	border-radius: 12px 0 0 12px;
}

.first1 a span {
    background-color:  #4f9002;
	border-radius: 12px 0 0 12px;
}

#galerya {
    background: url("../images/center-bg.jpg") no-repeat;
    height: 370px;
	border-radius: 20px;
	margin-top: 20px;
}

#galerya h1, #galerya h3{
    margin: 0px;
	padding: 0px;
	
}

#galerya #text{
    padding-top: 100px;
	padding-left: 70px;
}

#galerya #text h1 {
    color: #484847;
	font-size: 400%;
}

#text h1 span {
    color: #519501;
	padding-left: 20px;
}

#text h3 {
    color: #8B8B8A;
	font-size: 150%;
	text-transform: uppercase;
}

#text a span {
    background-color: #FFFFFF;
    border: 1px solid #DCDBDB;
    border-radius: 10px;
    padding: 14px 20px;
	text-transform: uppercase;
	font-weight: bold;
}

#text a {
    display: inline-block;
	text-decoration: none;
	color: #629803;
	padding-top: 20px;
	font-size: 110%;
}

#text a:hover {
    color: #555554;
}

#prev {
    padding-top: 155px;
	position: absolute;
}

#prev a {
    background: url("../images/prev_01.png") no-repeat;
	padding: 25px;
}

#prev a:hover {
    background: url("../images/prev_02.png") no-repeat;
	padding: 25px;
}

#next {
    float: right;
	margin-top: -95px;
}

#next a {
    background: url("../images/next_01.png") no-repeat;
	padding: 22px;
}

#next a:hover {
    background: url("../images/next_02.png") no-repeat;
	padding: 22px;
}

h1 {
   font-size: 120%;
   color: #629803;
   margin: 15px 0;
   text-transform: uppercase;
}

h2 {
    color: #191919;
    font-size: 15px;
    margin: 20px 0 4px;
    padding-bottom: 13px;
}

.abc {
     color: #737373;
    font-size: 12px;
    line-height: 17px;
}