.highslide-container div {
    font-family: Verdana, Helvetica;
    font-size: 10pt;
}
.highslide {
    cursor: url(highslide/graphics/zoomin.cur), pointer;
    _cursor: url(theme/highslide/graphics/zoomin.cur), pointer;
    outline: none;
    text-decoration: none;
}
.highslide-active-anchor img {
	/* visibility: hidden; */
}
.highslide img {
	/*border: 2px solid gray;*/
}
.highslide:hover img {
	/*border: 2px solid white;*/
}

.highslide-wrapper, .rounded-white {
	background: white;
}
.highslide-image {
    border: 2px solid white;
}
.highslide-image-blur {
}
.highslide-caption {
    display: none;
    border: 2px solid white;
    border-top: none;
    /*font-family: Verdana, Helvetica;
    font-size: 10pt;*/
    padding: 5px;
    background-color: white;
    text-align: center;
    width: inherited;
}
.highslide-loading {
    display: block;
    background-image: url('highslide/graphics/loader.white.gif');
    background-repeat: no-repeat;
    background-position: 3px 1px;
	color: black;
	font-size: 8pt;
	font-family: sans-serif;
	font-weight: bold;
    text-decoration: none;
	padding: 2px;
	border: 1px solid black;
    background-color: white;

    padding-left: 22px;
}

a.highslide-full-expand {
	background: url(highslide/graphics/fullexpand.gif) no-repeat;
	display: block;
	margin: 0 10px 10px 0;
	width: 34px;
	height: 34px;
}

.highslide-overlay {
	display: none;
}

/* Mac-style close button */
.closebutton {
	position: relative;
	top: -15px;
	left: 15px;
	width: 30px;
	height: 30px;
	cursor: hand; /* ie */
	cursor: pointer; /* w3c */
	background: url(highslide/graphics/close.png);
	/* For IE6, remove background and add filter */
	/* Note! the src is relative to the HTML file, not the CSS file */
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='theme/highslide/graphics/close.png', sizingMethod='scale');
}
