body {
	color: #2a262a;
	font: normal 11px Tahoma;
	background: #dedcd9 url('img/bg_header.gif') repeat-x 0 0;
	padding: 0px;
	margin: 0px;
}

img {
	border: 0px;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
	font: normal 11px Tahoma;
}

table input,select {
	font: normal 11px Tahoma;
}

td {
	vertical-align: top;
	padding: 0px;
}

p {
	margin-top: 10px;
}

.content, .left_nav {
	padding-bottom:40px;
}

.left_shadow {
	width: 4px;
	background: url('img/shadow_left.gif') repeat-y 0 0;
}

.right_shadow {
	width: 4px;
	background: url('img/shadow_right.gif') repeat-y 0 0;
}

.bottom_shadow_left {
	height: 4px;
	width: 4px;
	background: url('img/shadow_bottom_left.gif') repeat-y 0 0;
}

.bottom_shadow_right {
	height: 4px;
	width: 4px;
	background: url('img/shadow_bottom_right.gif') norepeat 0 0;
}

.bottom_shadow {
	height: 4px;
	background: url('img/shadow_bottom.gif') repeat-x 0 0;
}

h1, h3 {
	/*width: inherit;*/
        height: 26px; 
	background: url('img/box_header_bg.gif') repeat-x 0 0;
	color: #ffffff;
	font: bold 11px Tahoma;
}

h1 {
	clear:both;
	padding: 6px 0 0 10px;
	margin-bottom: 10px;
}

h3 {
	padding: 5px 0 0 10px;
	margin: 0px;
}


.box ul {
	list-style:none;
	padding: 0 0 1px 0;
	_padding-top: 5px;
	margin: 3px 3px 15px 3px;
	line-height: 22px;

}

li {
	line-height: 22px;
	height: 22px;
	padding-right: 20px;
}

.box li img {
	width: 7px;
	height: 22px;
	/*margin: 0px 7px 0 10px;*/
	margin: 0 5px 0 5px;
	vertical-align: middle;
	/*padding-top: 8px;*/
}


.box li a, box li a:visited {
	text-decoration: none;
	color: #2a262a;
	line-height: 22px;
	height: 22px;
}

.box h3 {position: relative; _left: -10px; _margin-right:-10px; } 

.odd {
	background: #ece8e5 url('img/bullet.gif') no-repeat 5px 2px;
        padding-left: 18px;
}

.even {
	background: #ffffff url('img/bullet.gif') no-repeat 5px 2px;
        padding-left: 18px;
	border-bottom: 1px dotted #c5c1be;
	border-top: 1px dotted #c5c1be;
	margin-top: 1px;
	margin-bottom: 1px;
}

.subitem {
	border-top: 1px dotted #c5c1be;
	margin-top: 1px;
	padding-left: 25px;
}

.lastsubitem {
	border-bottom: 1px dotted #c5c1be;
	border-top: 1px dotted #c5c1be;
	margin-top: 1px;
	margin-bottom: 1px;
	padding-left: 25px;
}

.first {
	border-bottom: 1px dotted #c5c1be;
	margin-bottom: 1px;
}

.ear_left {
position: relative;
left: -8px; _left: -7px;
z-index: 999;
float:left;
width: 8px;
height:26px;
background: url('img/box_header_xx.jpg') no-repeat 0 0;
}

.left_nav {
	background: #FFFFFF;
	padding-right: 1px;
	border-right: 1px solid #c5c1be;
	vertical-align: top;
}

.right_nav {
	/* background: #FFFFFF;
	vertical-align: top;
	padding-left: 1px;
	border-left: 1px solid #c5c1be; */
}

.ear_right {
position: relative;
z-index: 999;
float:right;
left:8px;
}


.content {
	background: #FFFFFF;
	vertical-align: top;
	/*padding: 0 1px 0 1px;*/
	/*padding-right: 1px;*/
	width: 735px;
	padding-left: 12px;
	padding-right: 12px;
}

.content h1,  .content h3 {
	margin-left: -11px;
	margin-right: -11px;
}

h2 {
	font-size: 12px;
	margin-bottom: 5px;
	margin-top: 15px;
}

.brief h2 {
	margin-bottom: 10px;
	margin-top: 0px;
}

.cont {
	margin-left:15px;
	width: 720px;
}

.brief {
	width: 340px;
	height: 200px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-top: 0px;
	float: left;
	/* border: 1px solid #c5c1be; */

}

.brief_left {
	width: 100px;
        font-size:18px;color:#F00;text-align:center;/*vertical-align:middle*/;font-weight:bold
}

.brief_left img {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

.brief_right {
	padding-left: 15px;
}

.brief_right th {
	background: #ece8e5;
	font-weight: normal;
	text-align: left;
	padding: 1px 5px 1px 5px;
	border-color: #ffffff;
	border-width: 0px 1px 1px 0;
	border-style: solid;
}

.brief_right td {
	background: #f5f1ee;
	padding: 1px 5px 1px 5px;
	border-color: #ffffff;
	border-width: 0px 1px 1px 0;
	border-style: solid;
}

.brief table {
}

.brief br {
	clear: both;
}

.price {
	width: 120px;
	text-align: center;
	color: red;
}

.menu {
	margin-bottom: 15px;
	align: right;

}

.menu_left {
	width: 11px;
	height: 44px;
	background: url('img/menu_bg_left.gif') repeat-x 0 0;
}

.menu_item {
	height: 44px;
	background: url('img/menu_bg_item.gif') repeat-x 0 0;
	padding: 0 20px 0 20px;
	vertical-align: middle;
}

.menu_item a, .menu_item a:visited {
	color: #ffffff;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 8pt;
	text-decoration: none;
}

.menu_separator {
	height: 44px;
	width: 2px;
	background: url('img/menu_bg_separator.gif') repeat-x 0 0;
}

.menu_right {
	width: 10px;
	height: 44px;
	background: url('img/menu_bg_right.gif') repeat-x 0 0;
}

.logo {
}

.more_info, .more_info:visited, .buy, .buy:visited, .notavalible {
	font: bold 11px Tahoma;
	display: block;
	width: 95px;
	height: 21px;
	line-height:19px;
	color: #ffffff;
	text-align:center;
	float: left;
	margin-top: 15px;
	margin-right: 10px;
	/*font: bold 11px Tahoma;*/
	font-weight:bold;
}

a.more_info, a.buy, a.notavalible {
	color: #ffffff;
	text-decoration: none;
	
}

.more_info {
	background: url('img/more_info.jpg') no-repeat 0 0;
}

.buy {
	background: url('img/buy.jpg') no-repeat 0 0;
}

.productinfo1 a.buy {margin-left:15px; margin-bottom:15px;}
.notavalible {
	background: url('img/gray.jpg') no-repeat 0 0;
	cursor: default;
	-moz-user-select: none;
   -khtml-user-select: none;
   user-select: none;
}

.cart_table {
	margin-top: 30px;
}

.cart_table td,th {
	vertical-align: middle;
	padding: 0 10px 0 10px;
	text-align: center;
}

.cart_table th {
	line-height: 20px;
	background: #ece8e5;
	border-right: 1px solid #ffffff;
}

.cart_table td {
	border-bottom: 1px dotted #c5c1be;
	line-height: 30px;
}

.cart_table select,input {
	font: normal 11px Tahoma;
}

.cart_table select {
	width: 210px;
}

.cart_edit {
	width: 30px;
}

.order_table {
	margin: 20px 0 20px 0;
}

.order_table th {
	line-height: 20px;
	background: #ece8e5;
	border-right: 1px solid #ffffff;
}

.order_table .cart_list {
	vertical-align: middle;
	padding: 0 10px 0 20px;
	text-align: center;
	border-bottom: 1px dotted #c5c1be;
	line-height: 30px;
}

.order_left {
	padding: 10px 10px 0 20px;
}

.order_right {
	padding: 11px 10px 0px 0px;
}

.order_right input, select, textarea{
	border: 1px solid #c5c1be;
}


.fio {
	width: 100px;
}

sup {
	color: #ff0000;
}

.order_btn {
	background:none;
	border: none;
	height: 29px;
}

.information {
	width: 500px;
	text-align: left;
}

.productinfo {
	/*margin: 10px 30px 30px 15px;*/
}

.productinfo1 {
	width: 100px;
	padding-right: 35px;
	padding-left: 15px;
	vertical-align: top;
        font-size:18px;color:#F00;text-align:center;/*vertical-align:middle*/;font-weight:bold
}

.productinfo2 {
	padding-right: 30px;
}

.productinfo2 a {
	margin: 0px;
	padding: 0;
}

/*
.documents a, .documents a:hover, .documents a:visited {
	text-decoration: none;
	font-weight: bold;
	margin: 0 0 10px 0;
	line-height: 13px;
	color: #333333;
}
*/

.documents td {
	padding: 0 0 10px 0;
}

.footer {
	text-align: center;
	margin: 20px 0 0px 0;
	color: #8c8986;
}

.footer p {
	margin: 5px;
}

/**************************** PRODUCT FULL INFO ***************************/

.addInfo {
	display:block;
	width: 120px;
	//width: 150px;
	margin: 5px -20px 5px -10px;
	padding: 6px 0 3px 30px;
	text-align:left;
	color:#666;
	font-weight:normal;
	font-size:9px;
	border: 1px solid #ece8e5;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	background-color:#f6f5f4;
	background-position: 7px 7px;
	background-repeat:no-repeat;
}

.addInfo p { font-weight:normal; color:#666; font-size:11px; line-height:13px; margin:0; padding: 0 5px 5px 0; }

#addInfo_1_yes { background-image: url(img/yes.png);}
#addInfo_1_no { background-image: url(img/no.png); }
#addInfo_2 { background-image: url(img/delivery.png); }
#addInfo_3 { background-image: url(img/garanty.png); }
